<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head style="box-sizing:border-box;margin:0;padding:0">
    <meta charset="UTF-8" style="box-sizing:border-box;margin:0;padding:0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" style="box-sizing:border-box;margin:0;padding:0">
    <meta name="viewport" content="width=device-width,initial-scale=1" style="box-sizing:border-box;margin:0;padding:0">
    <title style="box-sizing:border-box;margin:0;padding:0">Email Notification Change Password</title>
</head>

<body
    style="background-color:#F2F8F9;box-sizing:border-box;font-family:Poppins,sans-serif;margin:auto;min-height:100vh;padding:40px">
    <style></style>
    <header style="box-sizing:border-box;margin:0 auto;max-width:620px;padding:0"><img
            src="https://wicaksana.co.id/wp-content/uploads/2019/10/Perusahaan-Distribusi-Trading-Jasa-Supply-Chain-Company-Distribution-Food-Distributor-Export-Import-Bisnis-Services-Logistic-logo-PT-WOI-dkshrgb.png"
            alt="Wicaksana" style="box-sizing:border-box;display:block;margin:auto;padding:0;width:114px;height:62px;">
    </header>
    <div
        style="background-color:#fff;border-radius:8px 8px 0 0;box-sizing:border-box;margin:24px auto 0;max-width:620px;padding:32px 40px;">
        <div
            style="max-width: 620px;padding: 32px 40px;margin: 24px auto 0;background-color: #fff;border-radius: 8px 8px 0 0;">
            <h2
                style="box-sizing:border-box;color:#002D40;font-size:18px;font-weight:400;letter-spacing:.0015em;line-height:34px;margin:0;margin-bottom:24px;padding:0">
                Halo {{this.firstname}} {{this.lastname}}!</h2>
            <p
                style="align-items:center;box-sizing:border-box;color:#002D40;display:flex;font-size:14px;font-weight:400;letter-spacing:.0025em;line-height:26px;margin:0;padding:0">
                We have received a password reset request for your account in the Invoice Tracking Wicaksana
                application.
                Click the button below to reset your password.</p>
            <a href="{{this.linkForgetPassword}}" target="_blank"
                style="box-sizing:border-box;margin:0;padding:0;text-decoration:none;text-transform:capitalize;width:250px;margin:32px auto 24px;display:block">
                <button
                    style="color:#FFF;font-size:16px;font-weight:700;letter-spacing:.0125em;line-height:24px;background:#BE0028;border:none;border-radius:4px;box-sizing:border-box;cursor:pointer;display:block;padding:8px;width: 100%;">
                    Reset Password
                </button>
            </a>
            <h5
                style="box-sizing:border-box;color:#002D40;font-size:14px;font-weight:400;letter-spacing:.0025em;line-height:26px;margin:0;padding:0;text-align:center">
                or, click the following link</h5><a href="{{this.linkForgetPassword}}" target="_blank"
                style="box-sizing:border-box;color:#0077B6;display:block;font-size:14px;font-weight:500;letter-spacing:.0025em;line-height:26px;margin:4px auto 32px;padding:0;text-align:center;text-decoration-line:underline">{{this.linkForgetPassword}}</a>
            <h5
                style="box-sizing:border-box;color:#002D40;font-size:14px;font-weight:400;letter-spacing:.0025em;line-height:26px;margin:0;margin-bottom:12px;padding:0;text-align:left">
                Thank you,</h5>
        </div>
    </div>
    <footer
        style="background:#BE0028;border-radius:0 0 8px 8px;box-sizing:border-box;margin:0 auto;max-width:620px;padding:24px">
        <div class="social-wrapper"
            style="box-sizing:border-box;margin:0;margin-bottom:16px;padding:0;text-align:center">
            <a href="https://www.linkedin.com/company/dksh/life/dksh-global/" target="_blank"
                style="box-sizing:border-box;display:inline-block;margin:0;margin-right:16px;padding:0"><img
                    src="https://img.icons8.com/material-rounded/24/ffffff/facebook.png" alt="Facebook"
                    style="box-sizing:border-box;margin:0;padding:0"> </a>
            <a href="https://web.facebook.com/dkshgroup/?_rdc=1&_rdr" target="_blank"
                style="box-sizing:border-box;display:inline-block;margin:0;margin-right:16px;padding:0"><img
                    src="https://img.icons8.com/material-rounded/24/ffffff/linkedin--v1.png" alt="LinkedIn"
                    style="box-sizing:border-box;margin:0;padding:0"> </a>
            <a href="https://twitter.com/dkshgroup" target="_blank"
                style="box-sizing:border-box;display:inline-block;margin:0;margin-right:16px;padding:0"><img
                    src="https://img.icons8.com/ios-glyphs/25/ffffff/twitter-squared.png" alt="Twitter"
                    style="box-sizing:border-box;margin:0;padding:0"> </a>
            <a href="https://www.youtube.com/@DkshGroup" target="_blank" style="box-sizing:border-box;margin:0;padding:0"><img
                    src="https://img.icons8.com/ios-filled/25/ffffff/youtube-play.png" alt="Youtube"
                    style="box-sizing:border-box;margin:0;padding:0"></a>
        </div>
        <div style="box-sizing:border-box;margin:0;padding:0">
            <h5
                style="box-sizing:border-box;color:#FFF;font-size:14px;font-weight:400;letter-spacing:.0025em;line-height:26px;margin:0;padding:0;text-align:center">
                Phone: +62 21 6909 244</h5>
            <h5
                style="box-sizing:border-box;color:#FFF;font-size:14px;font-weight:400;letter-spacing:.0025em;line-height:26px;margin:0;padding:0;text-align:center">
                Fax: +62 21 691 8328</h5>
        </div>
        <hr style="border:transparent;border-top:1px dashed #FFF;box-sizing:border-box;margin:16px 0;padding:0">
        <h4
            style="box-sizing:border-box;color:#FFF;font-size:14px;font-weight:400;letter-spacing:.0025em;line-height:26px;margin:0;padding:0 30px;text-align:center">
            Jalan Ancol Barat VII Blok A 5D No 2 14430 Jakarta Utara, Indonesia</h4>
    </footer>
</body>

</html>